a#new-action {
    display: inline-block;
    padding: .5rem;
    border: 3px solid #2042d8;
    background-color: #FFF;
    color: #2042d8;
    border-radius: .3rem;
    transition: all .3s;
}

a#new-action:hover {
    background-color: #2042d8;
    color: #FFF;
}


button.blue {
    width: 100%;
    padding: 1rem;
    background-color: rgb(43, 82, 255);
    border: none;
    border-radius: .3rem;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    transition: all .3s;
    cursor: pointer;
}

button.blue:hover {
    width: 100%;
    padding: 1rem;
    background-color: #2042d8;
 
}

a.close {
    border-radius: .3rem;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .4;
    transition: all .3s;
} 

a:hover{
    opacity: 1;
}

a.stroke-button {
    padding: .5rem;
    color: #000;
    border: 3px solid #000;
    border-radius: .3rem;
    transition: all .3s;
}

a.stroke-button:hover {
    background-color: #000;
    color: #FFF;
    border: 3px solid #000;
}