.container {
    width: min(85vw, 800px);
    margin: auto;
}

#app {
    width: 100%;
    height: 100%;
    background-color: #FFFF;
}

header {
    width: 100%;
    text-align: center;
    padding: 4rem 0 6rem;
    background: linear-gradient(30deg, rgb(67, 255, 42) 0%, rgb(22, 218, 97) 100%);
    /* box-shadow: 2px 3px 7px #dadadad3; */
    border-bottom: 1px solid #dadada    ;
}

header h1 {
    font-size: 3rem;
    color: #FBFBFB;
}

section#status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -2rem;
    gap: 1rem;
    position: relative;
    margin-bottom: 2rem;
}

.status-item {
    padding: 1.5rem;
    background-color: #fcfcfd;
    border-radius: .6rem;
    border: 1px solid #dadada;
}

#new-action {
    display: inline-block;
    padding: .7rem;
    background-color: #d1d1d1;
    color: #FFF;
    margin-bottom: 2rem;
    border-radius: 1rem;
    transition: all .3s;
}

#new-action:hover {
    background-color: #222;
}

section#actions {
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #dadada;
}


table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.6rem 0 0 0.6rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.6rem 0.6rem 0;
}

table th {
    background-color: #111;
    padding: 1rem;
    text-align: left;
    font-weight: 600;
}


table td{
    background: #fafafa;
    padding: 1rem;
    color: #555;
}

footer {
    padding: 5rem;
    text-align: center;
}